.myWay {
  font-size: 14px;
  padding-top: 8px;
  color: var(--shadowText);
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  padding-top: 16px;
}

.experience {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  padding-top: 16px;
}

@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .experience {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
