:root {
  --white: #ffffff;
  --black: #000000;
  --mainBackground: #282c33;
  --shadowText: #949ba8;
  --linkInActive: #abb2bf;
  --primary: #c778dd;
}
/* 
* {
  margin: 0;
  padding: 0;
} */

body {
  background-color: var(--mainBackground);
  margin: 0 auto;
  font-family: "Fira Code";
}

.container {
  margin: 0 auto;
  padding: 15px 15px 0 15px;
}

.container.quote {
  display: flex;
  justify-content: center;
}

.hash {
  color: var(--primary);
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 25px 25px 0 25px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1220px;
    padding: 35px 35px 0 35px;
  }
}
