.course_container {
  border: 0.5px solid #fff;
  height: max-content;
}

.specialty {
  padding: 10px;
  font-size: 14px;
  color: var(--shadowText);
  border-bottom: 0.5px solid #fff;
}

.descr_container {
  padding: 10px;
}

.courseName {
  font-weight: bold;
  color: #fff;
}

.descr {
  font-size: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: var(--shadowText);
}

.btn {
  padding: 5px 16px;
  font-size: 12px;
}
