.courses {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  padding-top: 16px;
}

@media (min-width: 768px) {
  .courses {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .courses {
    grid-template-columns: repeat(4, 1fr);
  }
}
